<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Project Details</title>
  <link rel="stylesheet" href="/public/css/projectDetail.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <main>
    {{>navbar}}
    <div class="back-button-container">
      <a href="/projects" class="back-button">← Back to All Projects</a>
    </div>

    <div class="project-detail-container">
      <h1>{{project.title}}</h1>

      <div class="project-info">
        <p><strong>Project Description:</strong> {{project.description}}</p>
        <p><strong>Project ID:</strong> {{project.id}}</p>
        <p><strong>Borough:</strong> {{project.borough_full}}</p>
        <p><strong>Amount:</strong> {{project.award}}</p>
        <p><strong>Sponsor:</strong> {{project.sponsor}}</p>
        <p><strong>Reported Year:</strong> {{project.reported}}</p>
        <p><strong>Fiscal Year:</strong> {{project.fiscal_year}}</p>
        <p><strong>Council District:</strong> {{project.council_district}}</p>
      </div>

      {{#unless userHasGivenFeedback}}
      <div class="feedback-form">
        <h2>Leave Feedback</h2>
        <p id="error" class="errorMessage" hidden></p>
        <form action="feedback/{{project.id}}" method="POST">
          <textarea name="feedbackText" rows="4" cols="50" placeholder="Enter your feedback..."></textarea><br />
          <button type="submit">Submit Feedback</button>
        </form>
      </div>
      {{else}}
      <p>You have already submitted feedback for this project.</p>
      {{/unless}}

      <div class="feedback-list">
        <h3>Latest Feedback</h3>
        {{#if feedbacks.length}}
        <ul id="feedback-list">
          {{#each feedbacks}}
          <li><strong>{{{this.user}}}:</strong> {{{this.text}}} <small>({{this.created_at}})</small></li>
          {{/each}}
        </ul>
        {{#if (gt totalFeedbacks 10)}}
        <div id="load-more-container">
          <button id="load-more-btn">Load More ↓</button>
        </div>
        {{/if}}
        {{else}}
        <p>No feedback available for this project yet. Be the first to leave your thoughts!</p>
        {{/if}}
      </div>
      {{>footer}}
    </div>
  </main>
  <script src="/public/js/projectDetail.js"></script>
  <script src="/public/js/navBar.js"></script>
</body>

</html>